body{
    background-color: slategray;
}
.mainheader{
    text-align: center;
    background-color: steelblue;
}
.Subheader{
    text-align: center;
    background-color: steelblue;
}
.background{
    background-image: url("Blog\ post\ 1.jpg");
    background-size: 50%;
}

.Post-class{
    text-align: center;
    background-color: steelblue;
    margin: 60 100px;
}
