body{
    background-color: slategray;
}
.mainheader{
    text-align: center;
    background-color: steelblue;
}
.Subheader{
    text-align: center;
    background-color: steelblue;
}
.Post-class{
    text-align: center;
    border: steelblue;
}
